@import "../../variables.scss";

.CardPlaylistDiv {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  padding: 2rem;

  .panel {
    background-color: $tertiary-colour;
    height: 25rem;
    width: 100%;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
    flex: 1;
    position: relative;
    transition: flex 0.2s ease-in;
    object-fit: cover;

    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      border-radius: 1.5rem;
      z-index: 0;
      background: linear-gradient(transparent, black 99.9%);
    }
    .PlaySong {
      visibility: hidden;
      border-radius: 50%;
    }

    &:hover .PlaySong {
      visibility: visible;
      position: absolute;
      transform: translate(-50%, -50%);
      color: $text-colour;
      background-color: $accent-colour;
      padding: 0.5rem;
      font-size: 7rem;
      left: 50%;
      top: 50%;
      z-index: 8888;
    }

    &:hover .PlaySong:hover {
      box-shadow: 3px 3px 1.5rem $background-colour;
      font-size: 8rem;
      border-radius: 100%;
      transition: all 0.2s ease-in;
    }

    .PlaylistBar {
      font-size: 1.2rem;
      position: absolute;
      bottom: 1.5rem;
      left: 2rem;
      opacity: 0;
      z-index: 1;

      .PlaylistTagName {
        margin-top: 0.4rem;
        font-weight: 500;
        color: $text-colour-off;
      }
    }

    &:hover {
      background-color: rgb($tertiary-colour, 0.5);
    }
  }

  .panel.active {
    flex: 3;
  }

  .panel.active .PlaylistBar {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
}

@media screen and (max-width: 450px) {
  .active:nth-of-type(1),
  .active:nth-of-type(3),
  .active:nth-of-type(4),
  .active:nth-of-type(5) {
    display: none;
  }
}
